* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.intro {
    background: #EAF0F1;
}

h1 {
    color: #4C4B4B;
    font-weight: bold;
    transition: 0.5s;
}

h3 {
    color: #2F363F;
}

button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: #000000;
    color: white;
    letter-spacing: 1.5px;
    font-size: 12px;
    transition: 1.0s;
}

@media only screen and (orientation:portrait) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }
    h1 {
        font-size: 30px;
    }
    .act {
        padding-bottom: 100px;
    }
}

h2 {
    font-size: 40px;
}

table {
    letter-spacing: 1.2px;
}

td {
    text-align: center;
}

@media only screen and (orientation: portrait) {
    * {
        letter-spacing: 1px;
    }
}